{% extends 'base.t.html' %}
{% block main %}

    <h1>Welcome to pibird</h1>

    <div class="alert alert-info">Pibird plays bird sounds on the raspberry pi with a Speaker pHAT</div>

    <h3>Commands available</h3>

    <ul class="fa-ul">
        {%  for command in commands %}
        <li>
            <a href="{{ command.url }}">
                {% if command.get('icon') %}
                    <i class="fa-li fa {{ command.icon }} fa-1g"></i>&nbsp;
                {% endif %}
                {{ command.name }}
            </a>
        </li>
        {%  endfor %}
    </ul>

{% endblock %}
